<dialog
  class="fixed w-full h-full flex items-center justify-center overflow-hidden"
  id="modal"
>
  <form
    action=""
    class="w-64 h-64 flex flex-col items-center justify-center gap-y-6"
  >
    <h1 class="text-2xl font-semibold">Log in</h1>
    <input
      type="email"
      class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
      placeholder="Email Address"
    />
    <input
      type="password"
      placeholder="Password"
      class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
    />

    <input
      type="submit"
      value="Log in"
      class="text-lg w-full bg-violet-700 py-2 mb-4 rounded-md hover:bg-purple-800 text-white text-center cursor-pointer font-medium"
    />
  </form>
</dialog>
