<div
  class="fixed w-full h-full flex items-center justify-center overflow-hidden"
>
  <form
    action=""
    class="w-64 h-64 flex flex-col items-center justify-center gap-y-6"
  >
    <h1 class="text-2xl font-semibold">Log in</h1>
    <input
      type="email"
      class="placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
      placeholder="Email Address"
    />
    <input
      type="password"
      placeholder="Password"
      class="placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1"
    />

    <input
      type="submit"
      value="Log in"
      class="mr-2 bg-blue-700 text-white px-24 py-3 rounded-md hover:bg-purple-800"
    />
  </form>
</div>
