<div
  class="flex flex-col text-center border border-gray-300 rounded-md shadow-xl sm:mx-11"
>
  <h1 class="uppercase mt-3 mb-1">Conexiones</h1>
  <div id="chart" class="mb-0 w-full px-5">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
</div>
