<form
  [formGroup]="usuarioForm"
  (submit)="crearCliente()"
  action=""
  class="w-full flex flex-col justify-center items-center gap-7 sm:mt-10"
>
  <h2 class="text-2xl">Registrate ahora:</h2>

  <input
    class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
    type="text"
    placeholder="Nombre y apellido"
    formControlName="nombre"
  />

  <input
    class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
    type="text"
    placeholder="Direccion"
    formControlName="direccion"
  />

  <input
    class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
    type="text"
    placeholder="Telefono"
    formControlName="telefono"
  />

  <input
    class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
    type="email"
    placeholder="Email"
    formControlName="email"
  />

  <select
    class="text-gray-400 text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
    name="document-type"
    id="dt"
    formControlName="tipoDocumento"
  >
    <option value="" selected disabled>Tipo de documento</option>
    <option class="text-gray-700" value="ti">Tarjeta de identidad</option>
    <option class="text-gray-700" value="cc">Cedula de ciudadania</option>
    <option class="text-gray-700" value="te">Tarjeta de extranjeria</option>
    <option class="text-gray-700" value="ce">Cedula de extranjeria</option>
    <option class="text-gray-700" value="pas">Pasaporte</option>
  </select>

  <input
    class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
    type="text"
    placeholder="Numero de documento"
    formControlName="numeroDocumento"
  />

  <div>
    <input
      class="text-lg w-full outline-none border border-gray-500 rounded-md pl-3 py-0.5 focus:ring-blue-500 focus:border-blue-500 focus:bg-blue-50"
      type="password"
      placeholder="Contraseña"
      formControlName="password"
    />
    <span class="inline-block text-sm leading-none mt-1 text-neutral-600"
      >Debe tener minimo 8 caracteres y un carácter especial o número.</span
    >
  </div>

  <button
    type="submit"
    class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 w-full cursor-pointer"
    [disabled]="!usuarioForm.valid"
  >
    Registrarse
  </button>
</form>
<!-- <app-ver-clientes [usuarios]="usuarios" /> -->
