<form action="" class="my-4 w-full flex flex-col justify-center items-center">
  <h2 class="text-2xl mb-6">Registrate ahora:</h2>

  <input type="text" placeholder="Nombre y apellido" />
  <input type="text" placeholder="Direccion" />
  <input type="text" placeholder="Telefono" />
  <input type="email" placeholder="Email" />
  <select name="document-type" id="dt">
    <option value="" selected disabled>Tipo de documento</option>
    <option value="ti">Tarjeta de identidad</option>
    <option value="cc">Cedula de ciudadania</option>
    <option value="te">Tarjeta de extranjeria</option>
    <option value="ce">Cedula de extranjeria</option>
    <option value="pas">Pasaporte</option>
  </select>
  <input type="text" placeholder="Numero de documento" />
  <input type="text" placeholder="Ciudad" />
  <input type="text" placeholder="Pais" />

  <input type="submit" value="Registrarse" />
</form>
