<div
  class="w-full h-full flex flex-col justify-center items-center px-4 sm:grid sm:grid-cols-2 sm:place-items-center gap-5"
>
  <h1 class="mt-10 text-balance text-2xl text-center font-medium">
    CRM para ventas y mercadeo
  </h1>

  <p class="mt-5 text-balance text-justify text-lg leading-snug">
    Con este <span class="font-medium">crm</span> le facilitara a su empresa
    gestionar eficientemente las relaciones con sus clientes, hacer seguimiento
    de sus interacciones y analizar datos para mejorar su relacion con ellos.
  </p>
  <p class="text-balance text-justify text-lg leading-snug">
    Regístrese ya y comience en pocos minutos, la implementación más rápida en
    el mercado empresarial de CRM.
  </p>
  <app-sign-up class="w-full" />
</div>
